* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #f7f5f5;
}

.App {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.display {
    display: flex;
    flex-direction: column;
}

.input {
    background: pink;
    color: white;
    padding: 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    width: 70%;
    font-weight: bolder;
}

.toggleAnimals {
    background-color: pink;
    color: white;
    padding: 12px;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    width: 70%;
    box-shadow: 0px 0px 22px 0 rgba(181, 181, 181, 0.19);
    transition: 0.2s;
}

.toggleAnimalsOpen {
    background-color: rgb(161, 57, 75);
    color: white;
    padding: 12px;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    width: 70%;
    box-shadow: 0px 0px 22px 0 rgba(181, 181, 181, 0.19);
    transition: 0.2s;
}


.toggleAnimals:hover {
    background-color: #ffa4b3;
}

.button {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffac82;
    padding: 10px;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
}